@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
    /* Primary */

    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    
    /* Neutral */
    
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Public', sans-serif;
    overflow-x: hidden;
    /* background-color: black; */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 1.3rem 6rem;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--dark-blue);
}
p {
    opacity: 75%;
}
.first-section {
    /* background-color: var(--very-light-gray); */
    display: flex;
    flex: 1 4rem;
    align-items: center;
    height: 100vh;
}

.next-gen {
    padding-left: 6rem;
    align-items: center;
}

.next-gen h1 {
    font-size: 3rem;
    font-weight: 300;
    width: 25rem;
    color: var(--dark-blue);
}
.next-gen p {
    max-width: 40rem;
    padding: 1.5rem 0rem 1.5rem;
    
}

.mockup-background {
    
    max-width: 100vh;
}

.mockup-background img {
    max-width: auto;
    overflow: hidden;
    z-index: -1;
}

.desktop-img {
    position: relative;
    left: -8rem;
    top: 25rem;
}

.mockup {
    position: relative;
    left: 2rem; 
    top: -32rem;
}

.second-section {
    background-color: var(--light-grayish-blue);
    padding: 5rem 6rem;
}

.second-section h2 {
    padding-bottom: 1rem;
}

.second-section p{
    line-height: 1.5rem;
    opacity: 75%;
}

.why{
    max-width: 80rem;
    padding-bottom: 2rem;
}

.why p{
    width: 50%;
}

.why-card {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.why-card h3 {
    padding: 1.5rem 0;
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 300;
}
.latest-articles {
    padding: 100px 50px;
    background: var(--veryLightGray);
}

.latest-articles > h1 {
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 300;
    color: var(--dark-blue);
}

.articles {
    display:flex;
    justify-content: space-between;
    gap: 1em;
}

.articles .article_card {
    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
}

.article-thumbnail{
    width: 100%;
    height: 200px;
    padding-bottom: 15px;
}

.article_card .postedBy {
    margin: 0px 0;
}

.article_card .article-title {
    font-size: 20px;
    padding: 10px 0;
    color: var(--dark-blue);
}

.card_body {
    padding: 20px;
}

.card_body span{
    opacity: 75%;
}


button {
    background-image: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
    background-color: #fff;
    padding: 0.125rem;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

button:hover {
    opacity: 75%;
    cursor: pointer;
    background-color: black;
}

footer {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
.ft-one {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

footer ul {
    list-style: none;
}

.social_link {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.social_link .logo-img {
    color: #fff;
    padding-bottom: 20px;
}

.social_link_list li {
    display: inline-block;
    margin-right: 10px;
}

.ft-nav-1 li, .ft-nav-2 li {
    margin: 10px 0;
}

.ft-nav-1 li a, .ft-nav-2 li a {
    color: var(--light-grayish-blue);
    /* font-size: 20px; */
}

.ft-two {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.ft-two h4 {
    color: var(--grayish-blue);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8em;
} 

.footer-navigation{
    display: flex;
    justify-content: space-between;
    gap: 3.5em;
}
footer{
    padding: 1em;
}

.footer-navigation li {
    list-style: none;
    color: #fff;
}

.social img:hover{
    cursor: pointer;
}
.invite{
    text-align: center;
    padding: 0;
}
 .footer-right{
    display: flex;
    flex-direction: column;
    gap: .52em;
    align-items: center;
    padding: 2em;
}
.footerPara p{
    position: relative;
    color: #fff;
    opacity: 75%;
    top: 1em;
}
